@page "/editword/{WordId}"
@using System.Net.Http
@using Models
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using System.Text
@attribute [Authorize]
@inject ILogger<Error> Logger
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject ISessionStorageService SessionStorageServices
@inject RequestMessageGenerator RequestMessageGenerator
@inject Endpoint Endpoint

<div>
    <EditForm Model="@WordToSubmit" OnValidSubmit="@OnSubmit" class="mb-3">
        <DataAnnotationsValidator />
        <p>
            <label>
                Po polsku:
                <InputText minlength=1 maxlength=16 class="form-control" @bind-Value="WordToSubmit!.InPolish" />
            </label>
            <ValidationMessage For="() => WordToSubmit.InPolish" />
        </p>
        <p>
            <label>
                Po warmińsku
                <InputText minlength=1 maxlength=16 class="form-control" @bind-Value="WordToSubmit.InWarmian" />
            </label>
            <ValidationMessage For="() => WordToSubmit.InWarmian" />
        </p>
        <p>
            <label>
                Część mowy
                <InputSelect @bind-Value="WordToSubmit.PartOfSpeechId" class="form-select">
                    <option value="1">Rzeczownik</option>
                    <option value="2">Czasownik</option>
                    <option value="4">Przymiotnik</option>
                    <option value="5">Przysłówek</option>
                    <option value="3">Liczebnik</option>
                    <option value="6">Zaimek</option>
                    <option value="7">Inna</option>
                </InputSelect>
            </label>
            <ValidationMessage For="() => WordToSubmit.PartOfSpeechId" />
        </p>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </EditForm>
</div>
@if (ErrorHandleMessage != null)
{
    <p>@ErrorHandleMessage</p>
}

@code {
    [CascadingParameter]
    public Error? Error { get; set; }
    [Parameter]
    public string? WordId { get; set; }
    private Word? WordToSubmit { get; set; } = new();
    private RenderFragment? ErrorHandleMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string request = $"/word/getwordbyid?wordId={WordId}";
        try
        {
            var response = await Http.GetAsync(Endpoint.Url + request);
            if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        <p>Nie znaleziono słowa w bazie danych</p>
                    </div>
                };
                Logger.LogError("GetWordById request returned status code: " + response.StatusCode.ToString());
                return;
            }
            else if (!response.IsSuccessStatusCode)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        <p>Pobranie słowa się nie powiodło - <em>@response.StatusCode</em> </p>
                    </div>
                };
                return;
            }
            WordToSubmit = await response.Content.ReadFromJsonAsync<Word>();
        }
        catch (Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }
    public async Task OnSubmit()
    {
        string requestUri = Endpoint.Url + $"/word/editword";
        try
        {
            var requestMessage = await RequestMessageGenerator.GetHttpRequestMessage(HttpMethod.Post, requestUri);
            string jsonPostRequest = JsonSerializer.Serialize(WordToSubmit);
            requestMessage.Content = new StringContent(jsonPostRequest, Encoding.UTF8, "application/json");
            var response = await Http.SendAsync(requestMessage);

            if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        <p>Nie znaleziono słowa w bazie danych</p>
                    </div>
                };
                Logger.LogError("EditWord request returned status code: " + response.StatusCode.ToString());
                return;
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-secondary" role="alert">
                        <p><em>@WordToSubmit!.InPolish/@WordToSubmit.InWarmian/@WordToSubmit.PartOfSpeech</em> istnieje już bazie danych</p>
                    </div>
                };
                return;
            }
            else if (!response.IsSuccessStatusCode)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        <p>Edycja słowa się nie powiodła - <em>@response.StatusCode</em></p>
                    </div>
                };
                return;
            }
            SessionStorageServices.SetItem("actionSucceeded", true);
            NavigationManager.NavigateTo("allwords", true);
        }
        catch (Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }
}