@using Models
@using System.Net.Http
@inject HttpClient Http
@inject IConfiguration Configuration
@inject ISessionStorageService SessionStorageServices
@inject Endpoint Endpoint

<div>
    <p>
        <button type="button" class="btn btn-primary" @onclick="ChangeLanguage">Zmień język</button>
        @if (PolishToWarmianTranslation)
        {
                <span> Polski <span class="oi oi-arrow-right" aria-hidden="true"></span> Warmiński</span>
        }
        else
        {
                <span> Warmiński <span class="oi oi-arrow-right" aria-hidden="true"></span> Polski</span>
        }
    </p>
</div>

<div>
    @if (IsRadzenBlazorStyle)
    {
            <form @onsubmit="OnSubmit" >
                <p>
                    <RadzenTextBox Placeholder="Szukaj..." @bind-Value="TextValue" Class="w-100" MaxLength=15 />
                </p>
            @if (Result != null)
            {
                <p class=@(@EditGroupMode ? "pointer" :"")>
                    <RadzenDataGrid TItem="Word" Data="@Result" SelectionMode="DataGridSelectionMode.Single"
                    @bind-Value=@selectedWord>
                        <Columns>
                            @if (PolishToWarmianTranslation)
                            {
                                <RadzenDataGridColumn TItem="Word" Property="InPolish" Title="Polski" />
                                <RadzenDataGridColumn TItem="Word" Property="InWarmian" Title="Warmiński" />
                                <RadzenDataGridColumn TItem="Word" Property="PartOfSpeech" Title="Część mowy" />
                            }
                            else
                            {
                                <RadzenDataGridColumn TItem="Word" Property="InWarmian" Title="Warmiński" />
                                <RadzenDataGridColumn TItem="Word" Property="InPolish" Title="Polski" />
                                <RadzenDataGridColumn TItem="Word" Property="PartOfSpeech" Title="Część mowy" />
                            }
                        </Columns>
                    </RadzenDataGrid>
                </p>
                @if (EditGroupMode)
                {
                    <button type="button" class="btn btn-primary btn-sm button-add @isDisabled" @onclick=@(()=> { if(selectedWord !=null)
                        AddWord.InvokeAsync(selectedWord.FirstOrDefault());})>Dodaj
                    </button>
                }
            }
            </form>
    }
    else
    {
            <form @onsubmit="OnSubmit">
                <MudTextField @bind-Value="TextValue" Label="Szukaj" Variant="MudBlazor.Variant.Outlined" MaxLength=15
            Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" OnAdornmentClick="OnSubmit">
                </MudTextField>
            @if (Result != null)
            {
                <p>
                    <MudTable Items="@Result" Hover="true">
                        <HeaderContent>
                            <MudTh>@(PolishToWarmianTranslation ? "Polski" : "Warmiński")</MudTh>
                            <MudTh>@(PolishToWarmianTranslation ? "Warmiński" : "Polski")</MudTh>
                            <MudTh>Część mowy</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel=@(PolishToWarmianTranslation ? "Polish" : "Warmian")>@(PolishToWarmianTranslation ?
                @context.InPolish : @context.InWarmian)</MudTd>
                            <MudTd DataLabel=@(PolishToWarmianTranslation ? "Warmian" : "Polish")>@(PolishToWarmianTranslation ?
                @context.InWarmian : @context.InPolish)</MudTd>
                            <MudTd DataLabel=PartOfSpeech>@context.PartOfSpeech</MudTd>
                        </RowTemplate>
                    </MudTable>
                </p>
            }
            </form>
    }
    @if (ErrorHandleMessage != null)
    {
        @ErrorHandleMessage
    }
</div>


@code {
    [CascadingParameter]
    public Error? Error { get; set; }
    [Parameter, EditorRequired]
    public bool IsRadzenBlazorStyle { get; set; }
    [Parameter]
    public EventCallback<Word> AddWord { get; set; }
    [Parameter]
    public bool EditGroupMode { get; set; } = false;
    private string? TextValue { get; set; }
    private bool PolishToWarmianTranslation { get; set; } = true;
    private List<Word>? Result { get; set; }
    private IList<Word>? selectedWord;
    private RenderFragment? ErrorHandleMessage { get; set; }
    private string? isDisabled
    {
        get
        {
            return selectedWord == null ? "disabled" : "";
        }
    }

    public void ChangeLanguage()
    {
        PolishToWarmianTranslation = !PolishToWarmianTranslation;
        SessionStorageServices.SetItem("polishToWarmianTranslation", PolishToWarmianTranslation);
    }

    protected override void OnInitialized()
    {
        if (EditGroupMode) return;
        LoadValuesFromStorage();
    }

    private void LoadValuesFromStorage()
    {
        if (SessionStorageServices.GetItem<bool?>("polishToWarmianTranslation") == false)
        {
            PolishToWarmianTranslation = false;
        };

        if (SessionStorageServices.GetItem<string?>("word") == null) return;

        TextValue = SessionStorageServices.GetItem<string?>("word");
        if (SessionStorageServices.GetItem<List<Word>?>("result") == null)
        {
            ErrorHandleMessage = __builder =>
            {
                <div class="alert alert-secondary" role="alert">
                    Brak słowa "@TextValue" w bazie danych
                </div>

            };
        }
        else
        {
            Result = SessionStorageServices.GetItem<List<Word>?>("result");
        }
    }

    public async Task OnSubmit()
    {
        Result = null;
        ErrorHandleMessage = null;

        try
        {
            string request = $"/word/getword?word={TextValue}&translateFromPolish={PolishToWarmianTranslation}";
            var response = await Http.GetAsync(Endpoint.Url + request);
            if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-secondary" role="alert">
                      Brak słowa "@TextValue" w bazie danych
                    </div>

                };

                if (EditGroupMode) return;
                SessionStorageServices.SetItem("result", Result);
                SessionStorageServices.SetItem("word", TextValue);
                return;
            }
            else if (!response.IsSuccessStatusCode)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        Wyszukanie słowa się nie powiodło - <em>@response.StatusCode</em>
                    </div>

                };
                return;
            }

            var reponseData = await response.Content.ReadFromJsonAsync<List<Word>>();
            Result = reponseData;

            if (EditGroupMode) return;
            SessionStorageServices.SetItem("result", Result);
            SessionStorageServices.SetItem("word", TextValue);
        }
        catch (Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }
}